.about__img{
    width: 200px;
    border-radius:.5rem;
    justify-content:center;
    align-self: center;
    margin: auto;
}

.about__description{
    text-align:center;
    margin-bottom: var(--mb-2-5);
}

.about__info{
    display: flex;
    justify-content:space-evenly;
    margin-bottom:var(--mb-2-5);
}

.about__info-title{
    font-size:var(--h2-font-size);
    font-weight:var(--font-semi-bold);
    color: var(--title-color);
}

.abount__info-name{
    font-size:var(--small-font-size);
}

.about__info-title,
.about__info-name{
    display:block;
    text-align: center;
}

.about__buttons{
    display:flex;
    justify-content:center;
}